.box{
    width: 100px;
    height: 100px;
    float: left;
}
.bright {
    background-color: wheat;
}
.dark {
    background-color: brown;
}
.chessContainer {
    width: 800px;
    height: 800px;
    background-color: blueviolet;
}
.chessAsset {
    width: 100%;
    height: 100%;
}